services:
  backend:
    build:
      context: ./3DBackend
      dockerfile: Dockerfile.dev
    container_name: web3d-backend-test
    expose:
      - "5000"
    volumes:
      - ./3DBackend:/app
      - /app/node_modules
    restart: unless-stopped
    command: npm run start:dev
    env_file:
      - ./3DBackend/.env
    depends_on:
      - mongodb
    networks:
      - web3d-test-network

  dashboard:
    build:
      context: ./Dashboard/dashboard
      dockerfile: Dockerfile
    container_name: web3d-dashboard-test
    expose:
      - "4000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://api.model3dvn.org/api/v1
      - NEXTAUTH_URL=https://dashboard.model3dvn.org
      - NEXTAUTH_SECRET=e3c7d09a9e6als4b51b8a5f34b0b497fc33a6bb13cde7ecf0a9058b37f28acbb2c
      - NEXT_PUBLIC_TINYMCE_API_KEY = hy78s7z3lgu3o68ibqvv1avei7x8rfdscr7svq01onkk76a0
      - PORT=4000
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - web3d-test-network
      
  nginx:
    image: nginx:alpine
    container_name: web3d-nginx-test
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
    depends_on:
      - dashboard
      - backend
    networks:
      - web3d-test-network
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: web3d-mongodb-test
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongo_user
      - MONGO_INITDB_ROOT_PASSWORD=mongo_password
      - MONGO_INITDB_DATABASE=web3d
    command: [--auth, --bind_ip_all]
    volumes:
      - mongodb_test_data:/data/db
    networks:
      - web3d-test-network
    restart: unless-stopped

volumes:
  mongodb_test_data:

networks:
  web3d-test-network:
    driver: bridge